* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-left: 8.5rem;
    background: url('../../assets/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -45px;
}

#logo {
    margin-top: 3.5rem;
    margin-bottom: 7.5rem;
}

#title {
    width: 450px;
    margin-bottom: 1.4rem;
}

#title h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 18px;
    line-height: 1.05;
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

#title h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

#main-text {
    width: 500px;
    margin-bottom: 3rem;
}

#main-text p {
    font-size: 1.17rem;
    font-weight: 400;
    line-height: 1.4;
    color: hsl(0, 36%, 70%);
}

#main-image {
    flex-basis: 40%;
    background-image: url('../../assets/hero-desktop.jpg');
    background-size: cover;
}

@media (max-width: 1180px) {
    #main-content {
        padding-left: 4rem;
    }
}

@media (max-width: 990px) {
    html {
        font-size: 12px
    }
    
    #main-content {
        padding-left: 2rem;
    }

    #title {
        width: 400px;
    }

    #main-text {
        width: 374px;
    }
}

@media (max-width:720px) {

    html {
        font-size: 10px;
    }

    main {
        align-items: center;
    }

    #main-image {
        display: none;
    }

    #main-content {
        flex-basis: 100%;
        padding: 0;
        align-items: center;
        background: none;
    }

    #logo {
        margin: 2rem 0rem 2.7rem 2.5rem;
        align-self: flex-start;
    }

    #logo img {
        width: 115px;
    }

    #picture {
        width: 100%;
        margin-bottom: 5.5rem;
    }

    #title {
        width: 65%;
    }
    #title h1 {
        text-align: center;
        font-size: 3.5rem;
    }

    #main-text {
        width: 80%;
    }

    #main-text p {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.48;
    }

}